# Виртуальные окружения
venv/
.env

# Python
__pycache__/
*.py[cod]
*.class
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo

# Базы данных и медиа
db.sqlite3
*.log
media/
staticfiles/

# OS
.DS_Store
Thumbs.db

# RSA keys for JWT (secret!)
services/identity-service/keys/private_key.pem
services/identity-service/generate_keys.py

